.showProduct {
  width: 80%;
  margin: 1% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, 1fr);
}

@media only screen and (min-width: 280px) and (max-width: 750px) {
  .showProduct {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 25% auto;
  }
}


form {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
input[type="submit"] {
  border: none;
  background:orangered;
  color:white;
  margin-left:15px;
  border-radius: 3px;
  padding: 0 15px;
  cursor: pointer;
}
#rating-filter {
  color: white;
  padding: 5px;
  background: orangered;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:1000px){
  .showProduct{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width:720px){
  .showProduct{
    grid-template-columns: repeat(1, 1fr);
  }
}