.productCard {
  /* width: 70%; */
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  justify-self: center;
  padding: 1rem;
}
.productCard > img {
  width: 100%;
}
.productCard > h3,
.price {
  text-align: center;
  font-weight: bold;
}
.add_to_cart {
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 360px) and (max-width: 750px) {
  .productCard {
    font-size: 0.7em;
  }
}
