* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.weatherInfo {
  background-color: silver;
  padding: 1em;
  border-radius: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}

.userInfo :first-child {
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0;
}

li {
  font-size: 1.1em;
}

.table {
  margin-bottom: 5em;
  border-collapse: collapse;
  border-radius: 10%;
}

thead {
  background-color: black;
  color: #fefefe;
}

tr,
td {
  border: solid 1px #777;
}

.orderName {
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  text-align: center;
}

h4 {
  margin: 0.5em 0 2em 0;
}

.city {
  font-size: 1.2em;
}

sup {
  font-size: 0.8em;
  font-weight: bolder;
}

.temp {
  font-size: 1.6em;
  font-weight: 600;
}

.icon {
  width: 3.7em;
  height: 2.8em;
}

.holder {
  display: flex;
  flex-direction: column;
  margin: 1.9em 1em;
}

.holder-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.4em;
}

.container {
  padding: 0;
}

tr .td {
  padding: 0;
}

td img {
  width: 5em;
}

@media all and (max-width: 270px) {
  html {
    font-size: 8vw;
  }
}

@media all and (max-width: 420px) {
  .holder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.4em;
  }
}

@media all and (max-width: 760px) {
  .holder-info {
    justify-content: space-between;
  }

  .weatherInfo {
    max-width: 8em;
  }
}
