
.header{
    background-image: url('https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 70vh;
}

.overlay {
    background: rgba(11, 14, 18, 0.75);
    height: 100%;
}
.header-content{
    padding: 200px 0 150px 0;
    color: #fff;
    font-family: var(--font-family);
}

.header-content h1{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.5em;
}