.custom-navbar {
  background-color: black !important;
  position: sticky;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #007bff !important;
  cursor: pointer;
}

.custom-toggler.navbar-toggler {
  border-color: #007bff;
}

.custom-toggler .navbar-toggler-icon {
  width: 18px !important;
}

.fa-solid {
  color: white;
}

.custom-toggler:hover {
  border-color: #fff;
  background-color: rgb(109, 109, 109);
}

#logo_custom {
  width: 3rem;
}

.nav-item {
  font-size: 1.2rem;
}

.center-collapse {
  display:flex  !important;
  justify-content:center !important;
}

/*@media (max-width: 480px) {*/
/*  .navbar-toggler {*/
/*    position: relative;*/
/*    left: 60px;*/
/*  }*/
/*}*/
