.register-style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0% auto;
}

@media (max-width: 1000px) {
  .register-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
