@import url("https://fonts.googleapis.com/css2?family=Cookie&family=M+PLUS+2:wght@200;300&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --background: #f3f3f3;
  --blue: #377dff;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-family);
}